html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------- */

*,
*::after,
*::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}
body{
    font-family: 微軟正黑體;
    color: white;
    line-height: 1.5;
    letter-spacing: 1.5px;
    background-color: #e8dcbc;
}

h2{
    font-size: 30px;
    font-weight: bold;
    padding: 5%;
    text-align: center;
    color: #f5e5c7;
}

p{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20%;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: bold;
}
.wrap{
    max-width: 375px;
    margin: 0 auto;
    background-image: url("pic/cloud01.png"),url("pic/cloud02.png"),url("pic/cloud01.png"),url("pic/cloud02.png"),url("pic/cloud01.png");
    background-repeat: no-repeat;
    background-size: 375px auto;
    background-position:-200px 26%,right -200px top 1000px, -200px 39%,right -200px top 1400px, -200px 53%;
    background-color: #4c756f;
}

.story{
    margin-bottom: 25%;
}

/* 地圖 */
.map{
    display: flex;
    justify-content: center;
}
.box{
    width: 70%;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

/* 碎片 */
.pices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.pice01{
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

.puzzle{
    display: flex;
    justify-content: center;
}

.rrule_content{
    padding-top: -20px;
}